/* ==========================================================================
   Base styles
   ========================================================================== */
/* line 6, style.scss */
html {
  height: 100%;
}

/* line 10, style.scss */
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
